.navbar{
    display: inline-block;
    background-color: rgb(25, 124, 124);
    width: 100%;
    height: 125px;
}
    
.pagelink{
  float: right;
  display: flex;
  list-style: none;
  text-decoration: none;
  padding: 10px auto;
  
}
.pagelink a{
  padding: 20px;
  text-decoration: none;
  color: antiquewhite;
}

#Logo{
color: rgb(241, 216, 216);
font-size :25px;
};
